@font-face{
    font-family:'milky';
    src: url('milky_vintage-webfont.woff') format('woff');
}
* { 
    text-align: center; 
}

h1 {
    font-family: milky; 
}

.nav{
    display: inline-block;
    font-size: 14px; 
    padding: 20px;
}
#about_me {
    font-family: Roboto; 
}